.cardsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media all and (min-width: 1024px) {
  .cardsList {
    display: block;
    padding: 20px 0;
  }
}

@media all and (min-width: 1540px) {
  .cardsList {
    padding: 40px 0;
  }
}
