.card {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  border-radius: 7px;
  background-color: var(--white);
}

.card > * {
  flex: 1 1 100%;
}

@media all and (min-width: 1024px) {
  .card {
    flex-flow: row nowrap;
    max-height: 147px;
    padding: 20px 40px;
    background-color: transparent;
  }

  .card > * {
    flex: 0 0;
  }
  .card > * + * {
    padding: 0;
  }

  .card:hover .card:focus-within {
    outline: 1px solid var(--grayD9);
  }
}

@media all and (min-width: 1540px) {
  .card {
    padding: 20px 60px;
    max-height: 147px;
    cursor: pointer;
  }

  .card:hover, .card:focus-within {
    outline: 1px solid var(--grayD9);
  }

  .card:hover h2 a, .card:focus-within h2 a {
    color: var(--orange);
  }
}
