.userLink {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 20px;
  padding: 0 6px 0 0;
}

.avatar {
  width: 20px !important;
  height: 20px !important;
  margin: 0 7px 0 0;
}

.username {
  height: 7px !important;
  width: 67px !important;
}

@media all and (min-width: 1024px) {
  .userLink {
    padding: 0 0 0 5px;
  }

  .username {
    width: 120px !important;
  }
}

@media all and (min-width: 1540px) {
  .username {
    position: relative;
    z-index: 1;
  }
}
