.title {
  margin: 0;
  padding: 7px 0 0 !important;
}

.firstRow {
  height: 14px !important;
  width: 100% !important;
}

.secondRow {
  height: 14px !important;
  width: 70% !important;
  margin-top: 8px;
}

@media all and (min-width: 500px) {
  .firstRow {
    width: 400px;
  }

  .title > *:last-child {
    display: none;
  }
}

@media all and (min-width: 1024px) {
  .title {
    padding: 0 0 10px 0 !important;
  }

  .firstRow {
    width: 520px !important;
  }
}

@media all and (min-width: 1540px) {
  .firstRow {
    width: 562px !important;
  }
}
