.userBox {
  display: flex;
  align-items: center;
}

.avatarBox {
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 100%;
  box-shadow: none;
}

.avatarImage {
  --base-color: var(--grayD9) !important;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.username {
  --base-color: var(--grayD9) !important;
  display: none;
  height: 23px !important;
  width: 74px !important;
}

@media all and (min-width: 1024px) {
  .username {
    display: inline-flex;
    margin-left: 5px;
  }
}
