.textContent {
  display: flex;
  flex-flow: row wrap;
  padding: 22px 20px 13px;
}

.textContent > * {
  flex: 1 1 100% !important;
}

.textContent > * + * {
  padding: 7px 0 0;
}

.metaData {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.createdAt {
  height: 7px !important;
  width: 67px !important;
}

@media all and (min-width: 1024px) {
  .textContent {
    flex-basis: 540px !important;
    order: 1;
    margin: 0 0 0 38px;
    padding-left: 0;
    padding-right: 0;
    flex-flow: column-reverse nowrap;
    justify-content: center;
  }
  .textContent > * {
    flex: 0 0 !important;
  }

  .metaData {
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;
  }

  .createdAt {
    width: 188px !important;
  }
}

@media all and (min-width: 1540px) {
  .textContent {
    flex-basis: 672px !important;
  }
}
